click==7.1.2
Flask==1.1.2
-e git+https://github.com/j2B237/Flask-Tutorial.git@aebeb47baef56d9d583a3f31318f23b8f273c926#egg=flaskr
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
